Repository andrewthecodertx/weightlosstracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,astro}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

update gitignore
  .env.production.example
  .gitignore
  .npmrc
  CLAUDE.md
  DEPLOYMENT.md
  apps/api/.npmrc
  apps/api/Dockerfile.dev
  apps/api/Dockerfile.prod
  apps/api/prisma/seed.ts
  apps/api/src/routes/auth.ts
  apps/api/src/server.ts
  apps/web/.npmrc
  apps/web/Dockerfile.dev
  apps/web/Dockerfile.prod
  apps/web/src/components/react/Dashboard.tsx
  apps/web/src/components/react/LoginForm.tsx
  apps/web/src/pages/dashboard.astro
  apps/web/src/pages/index.astro
  apps/web/src/pages/login.astro
  docker-compose.prod.yml
  docker-compose.yml
  nginx/nginx.prod.conf
  nginx/proxy_params.conf
  nginx/ssl/.gitkeep
  projectplan.md
Due: eslint --fix, prettier --write

update readme and lisence
  LICENSE
  PROJECT_OVERVIEW.md
  README.md
  apps/api/Dockerfile.dev
  apps/api/start-dev.sh
  nginx/nginx.conf
Due: prettier --write

add screenshots
  README.md
  dashboard.png
  frontpage.png
Due: prettier --write

add registration
  DEPLOYMENT-SERVER.md
  apps/api/src/routes/auth.ts
  apps/web/src/components/react/RegisterForm.tsx
  apps/web/src/pages/register.astro
  docker-compose.server.yml
  nginx-server.conf
Due: eslint --fix, prettier --write

add deploy script
  .github/workflows/README.md
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
Due: prettier --write

update deploy script
  .github/workflows/deploy.yml
Due: none

update deploy script - EOF error
  .github/workflows/deploy.yml
Due: none

update deploy script - typo
  .github/workflows/deploy.yml
Due: none

update deploy script eclude files
  .github/workflows/deploy.yml
Due: none

use scp instead of rsync
  .github/workflows/deploy.yml
Due: none

fix docker errors
  .github/workflows/deploy.yml
Due: none

fix docker errors - old version
  .github/workflows/deploy.yml
Due: none

fix docker compose errors - old version
  .github/workflows/deploy.yml
Due: none

fix: TypeScript build errors - add type annotations and separate eslint tsconfig
  apps/api/.eslintrc.json
  apps/api/src/routes/auth.ts
  apps/api/src/routes/health.ts
  apps/api/src/server.ts
  apps/api/tsconfig.eslint.json
  apps/api/tsconfig.json
Due: eslint --fix, prettier --write

fix: add missing return statements and prefix unused parameters with underscore
  apps/api/src/routes/auth.ts
  apps/api/src/routes/health.ts
  apps/api/src/server.ts
Due: eslint --fix, prettier --write

fix: add explicit Promise<void> return type to async route handlers
  apps/api/src/routes/auth.ts
Due: eslint --fix, prettier --write

fix: add return statements to success responses in auth routes
  apps/api/src/routes/auth.ts
Due: eslint --fix, prettier --write

fix: remove Promise<void> return types, add eslint disable for no-misused-promises
  apps/api/src/routes/auth.ts
Due: eslint --fix, prettier --write

refactor: consolidate docker-compose files into single environment-aware configuration
  .env.development
  .env.production.example
  .github/workflows/deploy.yml
  DOCKER.md
  docker-compose.prod.yml
  docker-compose.server.yml
  docker-compose.yml
Due: prettier --write

docs: update GitHub Actions workflows to use unified docker-compose.yml
  .github/workflows/README.md
  .github/workflows/deploy.yml
  .github/workflows/rollback.yml
  DOCKER.md
Due: prettier --write
